body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.application {
  background-attachment: fixed;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 11%, rgba(0,212,255,1) 100%);
}

h1, h2, h3, h4 {
  text-align: center;
}

/* CSS */
/* HOME =============================================== */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h1 {
  font-size: 70px;
  font-weight: 900;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.welcome-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.video-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

video {
  width: 100%;
  height: 500px;
}

/* Footer =============================================== */

footer {
  width: 100%;
  background-color:  rgba(9,90,121,1);
  padding: 20px;
  box-sizing: border-box;
  margin-top: 150px;
}

.footer .footer-instructions, .footer .footer-section-links,
.footer .footer-instructions a {
  text-align: center;
  text-decoration: none;
}

.footer .icon {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer #github-icon {
  color: black;
}

.footer #linkedin-icon {
  color: blue;
}

.footer #linkedin-icon:hover, .footer #github-icon:hover {
  color: yellow;
}

/* Navbar =============================================== */
.navbar .nav-link {
  font-size: 20px;
  margin: 10px;
  font-weight: 700;
}

.navbar .nav-link:hover {
  color: yellow;
  transition: 0.9s;
}

/* Duplicate Check ===================================== */
/* Duplicate Check Import ======= */
.duplicate-check-import .file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.duplicate-check-import div input {
  text-align: center;
}

/* Duplicate Check Form ======= */

.duplicate-check-form form div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.duplicate-check-form form label {
  margin-right: 10px;
}

/* Duplicate Check Results ======= */

.cell {
  padding: 8px;
  border: 1px solid black;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  background-color: rgb(168, 165, 165);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
}

th {
  background-color: pink;
}

.duplicate-check-results .row .yes {
  background-color: yellow;
}

.duplicate-check-results .row .no {
  background-color: rgb(82, 176, 176);
}

/* Swiper */
.swiper {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 80%;
}
