body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS */

/* Duplicate Check ===================================== */
/* Duplicate Check Form ======= */

.duplicate-check-form form div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.duplicate-check-form form label {
  margin-right: 10px;
}

/* Duplicate Check Results ======= */

.cell {
  padding: 8px;
}

th {
  background-color: gray;
}

.duplicate-check-results .row .yes {
  background-color: yellow;
}

.duplicate-check-results .row .no {
  background-color: rgb(82, 176, 176);
}

/* Swiper */
.swiper {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
